/* h1 {
    margin-top: 0px;
}

article {
    text-align: center;
    border: solid 1px black;
    margin: 10px;
}

.roi-page-all a {
    text-decoration: none;
}

.roi-header {
    text-align: center;
    background-color: primary;
    text-decoration: none;
    background-color: black;
    color: white;
}

.roi-header a {
    color: white;
} */
a {
    box-shadow: none;
}

.roi-article {
    height: 400px;
}

.roi-img {
    min-width: 150px;
}

.roi-profile {
    min-width: 170px;
    max-width: 300px;
}